/* ===============================================
    RESET AND BASIC STYLES
    =============================================== */
body {
    margin: 0;
}

/* ===============================================
    NAVIGATION   ----->>!!!!!!! MAX 500 px like that , need to fix it under that value 
    =============================================== */
nav {
    display: flex;
    margin: 0;
    font-size: 150%;
}

nav ul {
    position: fixed;
    list-style: none;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 0;
    padding: 9px 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.navigation-link {
    text-decoration: none;
    color: #E3F6FC;
    font-weight: bold;
    padding: 0.6rem;
}

.navigation-link:hover {
    color: #1B3A4B;
    background-color: #B1D4E0;
    border-radius: 6px;
    transition: all 0.3s ease;
}







/* ===============================================
    HEADER
    =============================================== */
header {
    background: linear-gradient(to bottom, #1B3A4B, #0C2D48);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;

}

h1 {
    font-family: "Freckle Face", system-ui;
    font-weight: 500;
    font-style: oblique;
    margin: 0;
    padding-top: 4rem;
    background: #b0dee6;
    background-size: 300% 300%;
    background-clip: text;
    color: transparent;
    text-transform: uppercase;

}

@media (min-width: 300px) {
    header {
    font-size: 180%;

}
}

@media (min-width: 470px) {
    header {
    font-size: 270%;

}
}

@media (min-width: 600px) {
    header {
    font-size: 350%;

}
}

@media (min-width: 700px) {
    header {
    font-size: 400%;

}
}

@media (min-width: 999px) {
    header {
    font-size: 500%;

}
}




/* UNDER HEADER with media queries */
@media (min-width: 280px) {
    @keyframes slideText {
        0% {
            transform: translateX(-120vw);
        }

        100% {
            transform: translateX(100vw);
        }
    }

    .under-header {
        font-size: 1.2rem;
    }
}

@media (min-width: 480px) {
    @keyframes slideText {
        0% {
            transform: translateX(-120vw);
        }

        100% {
            transform: translateX(100vw);
        }
    }

    .under-header {
        font-size: 2rem;
    }
}

@media (min-width: 670px) {
    @keyframes slideText {
        0% {
            transform: translateX(-120vw);
        }
        100% {
            transform: translateX(100vw);
        }
    }

    .under-header {
        font-size: 3rem;
    }
}

@media (min-width: 1024px) {
    @keyframes slideText {
        0% {
            transform: translateX(-150vw);
        }

        100% {
            transform: translateX(100vw);
        }
    }

    .under-header {
        font-size: 3.3rem;
    }
}



.under-header {
    font-family: "Freckle Face", system-ui;
    overflow-x: clip;
    margin: 5px;
    animation: slideText 12s infinite linear;
}








/* ===============================================
    MAIN SECTIONS
    =============================================== */
.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

section {
    padding: 10px;
    font-size: larger;
    margin-left: 2em;
    width: 800px;
    max-width: 90%;
}

 h2 {
    text-align: center;
    font-size: 2em;
    margin-top: 2rem;
    font-family: "Playwrite US Modern", cursive;
    font-optical-sizing: auto;
    text-wrap: balance;
}

section h2::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: black;
    margin-top: 10px;
}

section p {
    margin: 8px 0;
    line-height: 1.5;
}

/* Resetting styles for em and strong elements */
em,
strong {
    font-style: normal;
}

.strong {
    font-weight: normal;
}



/* ===============================================
    BENEFITS SECTION
    =============================================== */
#benefits dt {
    font-size: larger;
    font-weight: bold;
    text-align: center;
    margin: 30px 0;
}

#benefits dd {
    margin-bottom: 10px;
    line-height: 1.4;
}

/* ===============================================
    PARTNERS SECTION
    =============================================== */
/* Media query for grid layout in the partners section on larger screens */
@media screen and (min-width: 851px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 6fr;
        row-gap: 30px;
        column-gap: 15px;
    }
}

/* Media query for adapting styles on screens up to 850px width */
@media screen and (max-width: 850px) {

    section {
        width: 90%;
        margin-left: 0;
    }

    .grid-container {
        grid-template-columns: 1fr;
    }

    #partners dt {
        text-align: center;
    }

    #partners dd {
        padding: 10px;
    }


}



#partners dt {
    font-size: larger;
    font-weight: bold;
}

#partners a {
    text-decoration: none;
    color: black;
    padding: 1.5px;
    border-radius: 6px;
    transition: all 0.2s ease-in-out;
}

#partners a:hover {
    text-decoration: dotted;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    background-color: black;
    color: white;
}



/* FOOTER */

footer {
    background-color: #0C2D48;
    display: flex;
    justify-content: space-between;
    color: #E3F6FC;
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.3);
    padding: 10px 0;
}


footer p {
    margin: 0;
}

footer h4 {
    margin: 2px;
}

.footer-left {
    padding: 15px;
}

.footer-right {
    display: flex;
    justify-content: flex-end;
}

.footer-item {
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 5px;
}

footer a {
    text-decoration: none;
    color: #B1D4E0;
    padding: 2px;
    border-radius: 6px;
    transition: all 0.2s ease;
}

footer a:hover {
    color: #0C2D48;
    background-color: #B1D4E0;
}

@media (min-width: 0px) and (max-width: 700px) {
  footer {
/* NEED TO FIX IT LATER */

  }

}



/* SOCIALS  */
.social-media {
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
@media  (max-width: 800px) {
  .social-media {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, auto);  
  }
}

.socials {
    width: 30px;
    padding: 3px;
    margin: 0 3px;
    transition: transform 0.3s ease-in-out;
}

.socials:hover {
    transform: scale(1.2);
}

