/* ===============================================
    RESET AND BASIC STYLES
    =============================================== */
body {
    margin: 0;
}

* {font-family: 'Outfit', sans-serif;}

* {
    box-sizing: border-box;
}


/*  NAVIGATION   */
nav {
    display: flex;
    margin: 0;
    font-size: 150%; 
}

nav ul {
    position: fixed;
    list-style: none;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 0;
    padding: 9px 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    background-color: #0C2D48;
    z-index: 500;
}

.navigation-link {
    text-decoration: none;
    color: #E3F6FC;
    font-weight: bold;
    padding: 0.6rem;
}
@media (min-width: 518px){
.navigation-link:hover {
    color: #1B3A4B;
    background-color: #B1D4E0;
    border-radius: 6px;
    transition: all 0.3s ease;
}
}


@media (max-width: 518px) {
ul li:first-child {
    padding-left: 5px;
}

ul li:last-child {
     padding-right: 5px;
}


.navigation-link {
    padding: 3px;   
}
nav {
    font-size: 130%;
}
nav ul {
    justify-content: space-between;
}
}
@media (max-width: 405px){
nav {
    font-size: 120%;
}
}
@media (max-width: 373px){
nav {
    font-size: 110%;
}
}
@media (max-width: 346px){
nav {
    font-size: 100%;
}
}
@media (max-width: 318px){
nav {
    font-size: 90%;
}
}
@media (max-width: 295px){
nav {
    font-size: 80%;
}
}
/* ===============================================
    HEADER
    =============================================== */
header {
    background: linear-gradient(to bottom, #1B3A4B, #0C2D48);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
    overflow-x: clip;

}

h1 {
    font-weight: 800; 
    margin: 0;
    padding-top: 4rem;
    background: #b0dee6;
    background-size: 300% 300%;
    background-clip: text;
    color: transparent;
    text-transform: uppercase;

}
@media (min-width: 290px) {
    header {
    font-size: 140%;

}
}

@media (min-width: 366px) {
    header {
    font-size: 160%;

}
}

@media (min-width: 470px) {
    header {
    font-size: 210%;

}
}

@media (min-width: 600px) {
    header {
    font-size: 270%;

}
}

@media (min-width: 700px) {
    header {
    font-size: 300%;

}
}

@media (min-width: 750px) {
    header {
    font-size: 340%;

}
}

@media (min-width: 999px) {
    header {
    font-size: 450%;

}
}

@media (min-width: 1099px) {
    header {
    font-size: 500%;

}
}




/* UNDER HEADER with media queries */
@media (min-width: 280px) {
    @keyframes slideText {
        0% {
            transform: translateX(-120vw);
        }

        100% {
            transform: translateX(100vw);
        }
    }

    .under-header {
        font-size: 1rem;
    }
}

@media (min-width: 480px) {
    @keyframes slideText {
        0% {
            transform: translateX(-120vw);
        }

        100% {
            transform: translateX(100vw);
        }
    }

    .under-header {
        font-size: 1.8rem;
    }
}

@media (min-width: 670px) {
    @keyframes slideText {
        0% {
            transform: translateX(-120vw);
        }
        100% {
            transform: translateX(100vw);
        }
    }

    .under-header {
        font-size: 2.5rem;
    }
}

@media (min-width: 1024px) {
    @keyframes slideText {
        0% {
            transform: translateX(-150vw);
        }

        100% {
            transform: translateX(100vw);
        }
    }

    .under-header {
        font-size: 3rem;
    }
}



.under-header {
    font-family: 'Outfit', sans-serif;
    font-weight: 600; 
    overflow-x: clip;
    margin: 5px;
    animation: slideText 12s infinite linear;
    color: #f3f3f3;
}








/* ===============================================
    MAIN SECTIONS
    =============================================== */
.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 100%; */
}

section {
    padding: 10px 0;
    font-size: larger;
    /* margin-left: 2em; */
    width: 800px;
    /* max-width: 90%; */
}

 h2 {
    font-family: 'Outfit', sans-serif;
    font-weight: 700; 
    text-align: center;
    font-size: 2em;
    margin-top: 2rem;
    font-optical-sizing: auto;
    text-wrap: balance;
}

@media (max-width: 330px){
h2 {
    font-size: 1.8em;
}
}

@media screen and (min-width: 851px){
h2 {
    font-size: 2.3em;
}}
@media screen and (min-width: 1200px){
h2 {
    font-size: 2.6em;
}}

section h2::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: black;
    margin-top: 10px;
}

section p {
    margin: 8px auto;
    line-height: 1.5;
}
#first-section p:nth-of-type(2) {
    text-align: center;
}


iframe {
    width: 100%;
    height: 100%;
    border: none;
}
.video-wrapper {
    width: 50vw;
    height: 30vw;
    max-width: 700px;
    display: block;
    margin: 15px auto;
    border: 2px solid #ccc;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);

}
@media (max-width: 500px){
    .video-wrapper {
        width: 100%;
        height: 60vw;
    }
}

#first-section p:nth-of-type(2) {
    text-wrap: balance;
    
}

/* Resetting styles for em and strong elements */
em,
strong {
    font-style: normal;
}

.strong {
    font-weight: normal;
}



/* ===============================================
    BENEFITS SECTION
    =============================================== */
#benefits dt {
    font-size: 135%;
    font-weight: bold;
    text-align: center;
    margin: 30px 0;
    text-wrap: balance;
}

#benefits dd {
    margin-bottom: 10px;
    margin-left: 0;
    line-height: 1.4;
}

/* ===============================================
    PARTNERS SECTION
    =============================================== */
/* Media query for grid layout in the partners section on larger screens */
.grid-container dd{
    margin-left: 0;
}

@media screen and (min-width: 851px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 6fr;
        row-gap: 30px;
        column-gap: 15px;
    }
}

/* Media query for adapting styles on screens up to 850px width */
@media screen and (max-width: 850px) {

    section {
        width: 90%;
        margin-left: 0;
    }

    .grid-container {
        grid-template-columns: 1fr;
    }

    #partners dt {
        text-align: center;
    }

    #partners dd {
        padding: 10px;
    }


}



#partners dt {
    font-size: larger;
    font-weight: bold;
}

#partners a {
    text-decoration: none;
    color: black;
    padding: 1.5px;
    border-radius: 6px;
    transition: all 0.2s ease-in-out;
}

@media (min-width: 518px){
    #partners a:hover {
    text-decoration: dotted;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    background-color: black;
    color: white;
}
}


/* SOCIALS  */
.social-media {
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
@media  (min-width: 394px) and (max-width: 824px) {
  .social-media {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, auto);  
  }
}

.socials {
    width: 30px;
    padding: 3px;
    margin: 0 3px;
    transition: transform 0.3s ease-in-out;
}
@media (min-width: 518px){
    .socials:hover {
    transform: scale(1.2);
}}


/* FOOTER */

footer {
    background-color: #0C2D48;
    display: flex;
    align-items: flex-start;
    color: #E3F6FC;
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.3);
    padding: 10px 0;
}




footer p {
    margin: 0;
}

footer h3 {
    margin: 3px;
}

.footer-left {
    padding: 15px;
}

.footer-right {
    display: flex;
    justify-content: flex-end;
}

.footer-item {
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 5px;
}

footer a {
    text-decoration: none;
    color: #B1D4E0;
    padding: 2px;
    border-radius: 6px;
    transition: all 0.2s ease;
}

@media (min-width: 518px){
    footer a:hover {
    color: #0C2D48;
    background-color: #B1D4E0;
}
}




@media (min-width: 394px) and (max-width: 782px) {
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }


  .footer-left {
  grid-column: 1;
  grid-row: 1;
}


.social-media {
  grid-column: 1;
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(2, 50px);
  grid-template-rows: repeat(2, auto);
  justify-content: left;
  padding-left: 15px;
}

.footer-item:nth-of-type(1) {
  grid-column: 2;
  grid-row: 2;
}

.footer-item:nth-of-type(2) {
  grid-column: 2;
  grid-row: 1;
}
    .footer-item {
    text-align: right;
}
}

@media (max-width: 393px) {
    footer {
        display: flex;
        flex-direction: column-reverse;   
    }
    .footer-item {
        padding-left: 5%;
        
    }
    .social-media {
        justify-content: left;
        padding-left: 4%;
        margin-bottom: 3px;
    }
}

@media (min-width: 400px){
#footer-div-3 {
  margin-left: auto;
}
}

@media (min-width: 470px) and (max-width: 533px) {
    #contact {
        width: 250px;
    }
}

